@import "tailwindcss";

@layer base {
  :root {
    --color-background: #f6fff8;
    --color-primary: #e4cfb2;
    --color-text-main: #252422;
    --color-text-muted: #8c9387;

    --border-radius: 0.5rem;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-primary);
  }
}
